html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  display: block;
  align-items: start;
  overflow: visible;
  height: 100%;
}

#SortMenu {
  padding-top: 8.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
}
#SortPriceButton {
  opacity: 0.5;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid rgb(38, 38, 38);
}
#MainContainer {
  display: flex;
}
#FilterMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  user-select: none;
}
.Mats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.MatsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
#ContentContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  height: 100vh;
  width: 100vw;
  margin: 3em;
}
.Pic:hover {
  transform: scale(0.95);
}
.Pic {
  transition: transform 150ms ease-in-out;
}
#PriceFilter {
  display: flex;
}
.InputNumber {
  width: 4em;
}
